<head>
  <title>social-deduction</title>
</head>

<body>
  <h1>Avalon</h1>

  {{> identify}}
  {{> info}}
</body>

<template name="identify">
  <p>Please enter a name to start playing</p>
  <form>
    <label for="playername">
      <input type="text" name="playername" placeholder="Player Name"/>
    </label>
  <button>Start Playing</button>
  </form>
</template>

<template name="info">
  <h2>{{playername}}</h2>
</template>
